<section class="mt-5">

  <div class="container mt-5 mb-5 p-5 bg-theme">

      <h1 class="text-white text-center">Terms and Conditions</h1>




          <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

          <p> Max Verstappen on people saying the TD affected them after Singapore:

            "We had a bad weekend. Of course then people start talking about ‘it's all because of the technical directives’. I think they can go suck on an egg."</p>

          <p>Nasci no inicio do século XX em Salvador/BA, me formei em Medicina aos 18 anos, revolucionei o tratamento de pessoas com transtornos mentais no Brasil e lutei incansavelmente para combater o racismo e a falsa ligação de doença mental à cor da pele.

Quem sou eu?</p>


          <div class="text-center">

              <button class="btn btn-info bt-sm mt-4 btn-theme" > Voltar </button>


          </div>

      </div>


      </div>
