<section class="mt-5">

    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center">About Us</h1>




            <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

            <p> Final de campeonato, jogo de IDA, Daronco que é um dos piores árbitros pra cartão
                e é um que sempre gosta de aparecer em final. Como que a aposta é ruim? Final de campeonato tem
                tendência
                a ser under po. Entrada MUITO BOA. Red faz parte do jogo.ki</p>
            <p> Final de campeonato, jogo de IDA, Daronco que é um dos piores árbitros pra cartão
                e é um que sempre gosta de aparecer em final. Como que a aposta é ruim? Final de campeonato tem
                tendência
                a ser under po. Entrada MUITO BOA. Red faz parte do jogo.ki</p>
            <p> Final de campeonato, jogo de IDA, Daronco que é um dos piores árbitros pra cartão
                e é um que sempre gosta de aparecer em final. Como que a aposta é ruim? Final de campeonato tem
                tendência
                a ser under po. Entrada MUITO BOA. Red faz parte do jogo.ki</p>


            <div class="text-center">

                <button class="btn btn-info bt-sm mt-4 btn-theme" > Voltar </button>


            </div>

        </div>


        </div>





</section>
